@at-root

  $emoji-size:        20px
  $menu-item-padding: 10px

  ////------------------------------------------
  .eeo-emojiPicker
    //------------------------------------------

    // ----- Layout -----
    width:    ($emoji-size + $menu-item-padding * 2) * 8
    overflow: hidden

    // ----- Looks -----
    border-radius: 6px
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)



  ////------------------------------------------
  .eeo-emojiPicker-nav
    //------------------------------------------

    // ----- Layout -----
    display:          flex
    background-color: #eee



  ////------------------------------------------
  .eeo-emojiPicker-nav-item
    //------------------------------------------

    // ----- Layout -----
    position: relative
    overflow: hidden

    // ----- Content layout -----
    .eeo-emojiPicker-nav-item-bar
      position: absolute
      bottom:   0
      height:   5px

    .emojione
      transition: transform 0.2s cubic-bezier(0.5, 2, 0.75, 0.75)
      +emojione-size($emoji-size)

    // ----- Behavior -----
    &.-hasNoItems
      opacity: 0.4
      &, a
        cursor:  default

    &:not(.-hasNoItems):hover .emojione
      +emojione-size-transform(28px)



  ////------------------------------------------
  .eeo-emojiPicker-nav-item-link
    //------------------------------------------

    // ----- Layout -----
    display: block
    padding: $menu-item-padding $menu-item-padding ($menu-item-padding / 2)



  ////------------------------------------------
  .eeo-emojiPicker-nav-item-bar
    //------------------------------------------

    // ----- Looks -----
    background-color: red



  ////------------------------------------------
  .eeo-emojiPicker-scrollable
    //------------------------------------------

    // ----- Layout -----
    position:   relative
    height:     400px
    overflow-x: hidden
    overflow-y: scroll

    // ----- Content layout -----
    .eeo-emojiPicker-category
      margin-top: 10px




  ////------------------------------------------
  .eeo-emojiPicker-category
    //------------------------------------------

    // ----- Layout -----
    padding: $menu-item-padding / 2

    // ----- Content layout -----
    .eeo-emojiPicker-category-title
      margin-bottom: 10px



  ////------------------------------------------
  .eeo-emojiPicker-category-title
    //------------------------------------------

    // ----- Looks -----
    color:         darkgrey
    border-bottom: 1px solid lightgrey



  ////------------------------------------------
  .eeo-emojiPicker-category-emoji
    //------------------------------------------

    // ----- Layout -----
    display:   flex
    flex-wrap: wrap

    margin-right:  -$menu-item-padding
    margin-bottom: -$menu-item-padding

    // ----- Content layout -----
    .eeo-emojiPicker-category-emoji-emojo
      margin-right:  $menu-item-padding
      margin-bottom: $menu-item-padding




  ////------------------------------------------
  .eeo-emojiPicker-category-emoji-emojo
    //------------------------------------------

    // ----- Looks -----
    text-decoration: none

    // ----- Content layout -----
    .emojione
      transition: transform 0.2s cubic-bezier(0.5, 2, 0.75, 0.75)
    // ----- Behavior -----
    &:hover .emojione
      +emojione-size-transform(28px)





  ////------------------------------------------
  .eeo-emojiPicker-footer
    //------------------------------------------

    // ----- Layout -----
    display:          flex
    justify-content:  space-between
    background-color: #eee
    padding:          $menu-item-padding / 2



  ////------------------------------------------
  .eeo-emojiPicker-filter
    //------------------------------------------

    // ----- Layout -----
    position: relative

    // ----- Content layout -----
    .eeo-emojiPicker-filter-clear
      position:   absolute
      right:      4px
      top:        50%
      transform:  translate(0, -50%)
      margin-top: 2px // Compensate for uncentered emoji



  ////------------------------------------------
  .eeo-emojiPicker-filter-input
    //------------------------------------------

    // ----- Layout -----
    padding: 2px 22px 2px 2px



  ////------------------------------------------
  .eeo-emojiPicker-filter-clear
    //------------------------------------------

    // ----- Content Layout -----
    .emojione
      +emojione-size(14px)

    // ----- Behavior -----
    &._disabled
      opacity: 0.2
      cursor:  default



  ////------------------------------------------
  .eeo-emojiPicker-tones
    //------------------------------------------

    // ----- Content layout -----
    .eeo-emojiPicker-tone
      vertical-align: middle



  ////------------------------------------------
  .eeo-emojiPicker-tone
    //------------------------------------------

    // ----- Layout -----
    display: inline-block
    width:   $emoji-size * 0.8
    height:  $emoji-size * 0.8

    // ----- Looks -----
    border-radius: 50%
    border-width:  0
    outline:       0

    // ----- Behavior -----
    &.-current, &:hover
      transition: transform 0.2s cubic-bezier(0.5, 2, 0.75, 0.75)
      transform:  scale(1.2)

    &:not(.-current)
      cursor: pointer

    // ----- Variations -----
    &._default
      background-color: #ffcf11
    &._1
      background-color: #fae3c3
    &._2
      background-color: #e2cfa1
    &._3
      background-color: #dba373
    &._4
      background-color: #a88054
    &._5
      background-color: #5f4e43
