@import 'ember-emojione';

.emojione {
  @include emojione-size(20px);
}

.toggleEmoji {
  padding-top: 7px;
}

.togglePickerWrapper {
  position: relative;
  display: inline-block;

  > span {
    vertical-align: middle;
  }

  .eeo-emojiPicker {
    position: absolute;
    top: 0;
    left: calc(100% + 10px);

    &.-hidden {
      display: none;
    }
  }
}

.eeo-emojiPicker-toggler {
  font-size: 2em;
  text-decoration: none;
}

.eeo-emojiPickerWrapper {
  display: flex;

  .input-wrapper {
    margin-right: 10px
  }

  textarea {
    width: 50vw;
    height: 5em;
    resize: vertical;
  }
}
